input[type=text],
        input[type=password] {
            width: 50%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
            border-radius: 12px;
            text-align: center;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
            border-radius: 12px;
        }



        /* Set a style for the submit/register button */
        .submitClass {
            background-color: #d13f13;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
            border-radius: 12px;
        }

        .submitClass:hover {
            opacity: 1;
        }

        /*  */

        .btnEdit {
            background-color: #b1b4a1;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 10%;
            opacity: 0.9;
            border-radius: 12px;
        }

        .btnEdit:hover {
            opacity: 1;
        }

        /*  */


        .slideshow-container {
            max-width: 1000px;
            position: relative;
            margin: auto;
        }

        .r_text {
            color: #504a57;
        }



        /* -------------------------------------------------------------------- */


        input[type="radio"] {
            margin: 0 10px 0 10px;
        }

        .adminb {
            color: #4CAF50;
        }

        .teacherb {
            color: #483cb4;
        }

        .studentb {
            color: #e07722;
        }